.alerta-span {
    font-size: 1.6rem;
}
.alerta-ul {
    font-size: 1.5rem;
    padding-left: 2rem;
    text-align: justify;
}
.alerta-footer {
    font-size: 1.5rem;
}
.btn-continuar {
    font-size: 1.6rem;
}
.btn-aceptar {
    font-size: 1.6rem;
}